/* ===== BOTÃO FLUTUANTE ===== */
.botao-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  visibility: hidden;
  opacity: 0;
}

.botao-flutuante.mostrar {
  visibility: visible;
  opacity: 1;
}

.botao-flutuante:hover {
  background-color: #45a049;
}
